.logo {}

.logo img {
    width: 164px;

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Segoe UI"
}

.right ul {
    display: flex;
    gap: 34px;
}

.right ul li {
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.right ul li span {
    padding: 0 5px;
}

.first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
    margin: 70px;
    font-family: sans-serif;
}

.first span {
    font-size: 40px;
}

section span img {
    width: 82px;
    margin: 0 23px;
}

.first p {
    font-size: 23px;
    width: 52vw;
    text-align: center;
}

.btn {
    background-color: #00b6d1;
    padding: 14px 16px;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 700;
    margin: 15px 0;
    cursor: pointer;
}
.btn a{
    text-decoration: none;
    color: white;
    
}

.green{
    background-color: #5cb85c;

}

.flex {
    display: flex;
}
.small{
    font-size: 12px;
}
.second{
    max-width: 59vw;
    margin: auto;
    align-items: center;
}
.item{
    background-color: #f9f9f5;
    padding: 23px;
    border-radius: 12px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.item-lang{
    font-weight: 600;
    text-align: center;
    padding-bottom: 32px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}

.download :nth-child(2){
    font-size: 23px;
}
.download img{
    padding: 0 10px;
}
.download{
    display: flex;
    font-family: sans-serif;
    gap: 10px;
    align-items: center;
}
@media screen and (max-width:1145px) {
    .grid{
        grid-template-columns: 1fr;
        
    }
}